body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 14px;
    position: relative;
    margin-top: -1px;
    margin-left: -5px;
    margin-right: 0px;
}

.site_content{
    overflow-y:hidden;
    overflow-x:hidden;
    background-color: #f2ebea;
    height: 900px;
}

.site_header{
    width: 100%;
}

.photo{
    height: 100px;
    margin-top: -50px;
    display: flex;
    margin-left: -90px;
}

.halfcolorpage{
    height: 25px;
    padding: 2%;
    display: flex;
    background-color:#f2ebea;
    width: 1850px;
    margin-top: -20px;
    position: fixed;
}

.header_title{
    cursor: pointer;
    color: #000;
    font-size:18px;
    font-weight:lighter;
    min-height: 54px;
    vertical-align: middle;
    margin-left: 80px;
    text-decoration: none;
    width: 70px;
}

.menu-link{
    text-decoration: none;
    color: #000000;
    position: relative;
    border-radius: 10px;
    background-color:#f0f0f0;
    border: 1px solid black;
    width: 110px;
    height: 30px;
    display: flex;
    cursor: pointer;
    align-items: center;      
    justify-content: center;
    text-decoration-line: none;
}

.twohalf{
    display: flex;
    margin-left: 40%;
}

.header_panel{
    clear: both;
    display: flex;
    background-color: #000000;
    margin-top: 80px;
    width: 100%;
}

.my_pic{
    height: 630px;
    margin-top: 0px;
    border-radius: 100cap;
    margin-left: 100px;
    width: 100%;
    border: 5px solid #fff;
    align-items: center;
}

.the_tot{
    display: inline;
    margin-top: 140px;
    margin-left: auto;
    width: 60%;
}

.the_con{
    color: beige;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    text-align: center;
}

.the_con_1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    color:#fff;
    text-align: center;
}

.the_con_2{
    color:cornsilk;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    text-align: center;
}

.res_word{
    display: flex;
    margin-left: 540px;
}

.sp_c{
    font-size: 25px;
    font-weight: lighter;
}

.sp_cer{
    font-size: 25px;
    font-weight: 900;
    margin-left: 10px;
}

.cer{
    height: 50px;
    width: 215px;
    position: relative;
    border-radius: 15px;
    border: 1px solid black;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;      
    justify-content: center;  
    margin-left: 750px;
    margin-top: 20px;
    background-color: #f2ebea;
    text-decoration-style: none;
    text-align: center;
}

.cer_tot{
    margin-left: 100px;
}

.lin5{
    height: 3px;
    width: 100%;
    margin: 0px auto;
    margin-top: 3px;
    background: #ff0000;
}

.site_header2{
    margin-left: 25px;
    height: 980px;
    box-sizing: border-box;
}

.education{
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 400;
    font-style: oblique;
    text-align: center;
}

.lines{
    height: 1.5px;
    width: 13%;
    margin-left:-15px;
    margin: auto;
    margin-top:-50px;
    background: rgba(2, 6, 12, 0.45);
}

.active {
    color: #ff0000;
    font-weight: bold;
    border-bottom: 2px solid #ff0000;
}

.edu_cont{
    padding: 40px 200px 200px 200px;
    margin-top: -60px;
}

.edu_w{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 400;
    font-style: oblique;
    margin-top: -20px;
    margin-left: 0px;
    text-align: center;
}

.year_con{
    font-size: 50px;
    font-weight: 1000;
    display: flex;
    margin-top: 150px;
    width: 400px;
}

.edu_con_w{
    font-size: 20px;
    font-weight: 500;
    display: flex;
    width: 170px;
    margin-top:-40px;
    margin-left: 70px;
}

.edu_con_wo{
    font-size: 20px;
    font-weight: 500;
    display: flex;
    width: 193px;
    margin-top:-40px;
    margin-left: 70px;
}

.edu_con_wor{
    font-size: 20px;
    font-weight: 500;
    display: flex;
    width: 260px;
    margin-top:-40px;
    margin-left: 70px;
}

.edu_con_word{
    font-size: 20px;
    font-weight: 500;
    display: flex;
    width: 270px;
    margin-top:-40px;
    margin-left: 70px;
}

.edu_des{
    font-size:16px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    display: flex;
    color: black;
    margin-left: 500px;
    margin-top: -80px;
}

.lin7{
    height: 1px;
    width: 80%;
    margin: auto ;
    margin-top: -170px;
    background: rgba(2, 6, 12, 0.45);
}

.lin0{
    height: 1px;
    width: 80%;
    margin: auto ;
    margin-top: -100px;
    background: rgba(2, 6, 12, 0.45);
}

.edu_1{
    margin-top: -90px;
}

.edu_2{
    margin-top: -55px;
}

.edu_3{
    margin-top: -55px;
}

.edu_4{
    margin-top: -55px;
}

.edu_des_1{
    font-size:16px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    display: flex;
    color: #868686;
    margin-left: 1070px;
    margin-top: -30px;
}

.col_pic, .co_pic, .col_p, .col_pi{
    height: 40px;
    width: 40px;
    margin-top: -50px;
    display: flex;
}



.skill{
    margin-left: 25px;
    height: 955px;
    margin-top: -20px;
}

.sk_word{
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 400;
    font-style: oblique;
    text-align: center;
}

.tot_sk {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    gap: 40px;
}

.tot_sk_1, .tot_sk_2 {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.sk_1_1, .sk_1_2, .sk_1_3, .sk_2_1, .sk_2_2, .sk_2_3 {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #f0f0f0;
    box-sizing: border-box;
}

.sk_1{
    width: 120px;
    height: 150px;
    margin: 0 auto;
}

.sk_2{
    width: 100px;
    height: 150px;
    margin: 0 auto;
}

.sk_3{
    width: 190px;
    height: 150px;
    margin: 0 auto;
}

.sk_4{
    width: 140px;
    height: 140px;
    margin: 0 auto;
}

.sk_5{
    width: 120px;
    height: 130px;
    margin: 0 auto;
}

.sk_6{
    width: 150px;
    height: 140px;
    margin: 0 auto;
}

.c, .ci, .cir, .circ, .circl, .circle {
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1024px) {
    .sk_1_1, .sk_1_2, .sk_1_3, .sk_2_1, .sk_2_2, .sk_2_3 {
        width: 200px;
        height: 250px;
    }
    .sk_1, .sk_2, .sk_3, .sk_4, .sk_5, .sk_6 {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 768px) {
    .tot_sk_1, .tot_sk_2 {
        flex-direction: column;
        gap: 30px;
    }
    .sk_1_1, .sk_1_2, .sk_1_3, .sk_2_1, .sk_2_2, .sk_2_3 {
        width: 180px;
        height: 220px;
    }
    .sk_1, .sk_2, .sk_3, .sk_4, .sk_5, .sk_6 {
        width: 90px;
        height: 90px;
    }
}

@media (max-width: 480px) {
    .sk_word {
        font-size: 35px;
    }
    .sk_1_1, .sk_1_2, .sk_1_3, .sk_2_1, .sk_2_2, .sk_2_3 {
        width: 150px;
        height: 180px;
    }
    .sk_1, .sk_2, .sk_3, .sk_4, .sk_5, .sk_6 {
        width: 70px;
        height: 70px;
    }
}



.lin6{
    height: 1px;
    width: 80%;
    margin: 0px auto;
    margin-top: 30px;
    background: rgba(2, 6, 12, 0.45);
}

.line{
    height: 1px;
    width: 8%;
    margin-left:-15px;
    margin: auto;
    margin-top:-45px;
    background: rgba(2, 6, 12, 0.45);
}

.liness{
    height: 3px;
    width: 18%;
    margin: 0px auto;
    margin-top:-25px;
    background: rgba(2, 6, 12, 0.45);
}

.project{
    height: 700px;
}

.pro_word{
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 400;
    font-style: oblique;
    text-align: center;
}

.linesss{
    height: 1px;
    width: 10%;
    margin: auto;
    margin-top:-40px;
    background: rgba(2, 6, 12, 0.45);
}

.pro_cont{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top:70px;
}

.container {
    position: relative;
    width: 350px;
    height: 350px;
}

.image {
    width: 350px;
    height: 350px;
    object-fit: cover;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#666;
    opacity: 0;
    transition: 0.7s linear;
    cursor: pointer;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 23px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    color: #fff;
    text-align: center;
}

.container:hover .overlay {
    opacity: 0.7;
}

.contact{
    height: 920px;
    margin-top: -20px;
}

.contact_word{
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 400;
    font-style: oblique;
    text-align: center;
}

.linessss{
    height: 1px;
    width: 15%;
    margin: auto;
    margin-top:-50px;
    background: rgba(2, 6, 12, 0.45);
}

.con_tot_set{
    margin-top: -50px;
}

.lab{
    margin-left: 10%;
    margin-top: 7%;
    padding: 3rem;
    background-color: #f8f9fa;
    width: 710px;
    height: 440px;
}

.box2, .box3, .box1, .box4, .box7{
    border-radius: 6px;
    font-size: larger;
}

.box2{
    height:52px;
    width: 621px;
    border: 2.5px solid black;
    margin-top: 20px;
    margin-left: 28px;
    padding-left: 15px;
}

.box1{
    height:52px;
    width: 285px;
    border: 2.5px solid black;
    display: flex;
    margin-left: 28px;
    margin-top: 10px;
    padding-left:15px ;
}

.box4{
    height:52px;
    width: 289px;
    border: 2.5px solid black;
    display: flex;
    margin-left: 25px;
    margin-top: 10px;
    padding-left:15px ;
}

.box7{
    height:51px;
    width: 252px;
    text-align: center;
    cursor: pointer;
    display: flex;
    margin-left: 27px;
    margin-top: 20px;
    background-color:#f2ebea;
    color: black;
}

.box5{
    display: flex;
}

.box3{
    height:171px;
    width: 634px;
    border: 2.5px solid black;
    margin-top: 20px;
    margin-left: 28px;
    padding-left: 15px;
}

.con_cont{
    margin-top: -540px;
    margin-left: 1100px;
    height: 800px;
}

.con_ph{
    margin-top: 70px;
}

.con_email{
    margin-top: 70px;
}

.con_web{
    margin-top: 70px;
}

.add_img, .ph_img, .gmail_img, .web_img{
    height: 60px;
    width: 60px;
}

.con_head{
    font-size: 23px;
    margin-left: 70px;
    margin-top: -45px;
}

.con{
    font-size: 17px;
    margin-left: 70px;
    margin-top: 12px;
}

.final{
    height: 100px;
    background-color: #f2ebea;
    margin-top: -130px;
    padding: 50px;
    margin-left: -20px;
}

.ques{
    text-align: center;
    font-size: 23px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    font-weight: 900;
}

.tot_img{
    text-align: center;
    margin-top: 10px;
    display: flex;
}

.in_pic{
    height: 40px;
    width: 40px;
    margin-top: 3px;
    margin-left: 800px;
    cursor: pointer;
}

.git_pic{
    height: 40px;
    width: 40px;
    margin-top: 3px;
    margin-left: 8px;
    cursor: pointer;
}

.x_pic{
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.ins_pic{
    height: 50px;
    width: 50px;
    margin-left: 8px;
    cursor: pointer;
}

.face_pic{
    height: 45px;
    width: 45px;
    margin-left: 6px;
    margin-top: 1.5px;
    cursor: pointer;
}

@media (max-width: 1024px){
    .twohalf{
        margin-left: 0;
        justify-content: center;
        flex-wrap: wrap;
    }
    .header_panel{
        flex-direction: column;
        align-items: center;
    }
    .my_pic{
        height: 400px;
        width: 90%;
        margin-left: 0;
        margin-top: 20px;
    }
    .the_tot{
        width: 100%;
        margin-top: 20px;
    }
    .cer_tot{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .edu_cont{
        padding: 20px 50px;
    }
    .edu_des, .edu_des_1{
        margin-left: 0;
        text-align: center;
    }
    .tot_sk{
        margin-left: 0;
        justify-content: center;
    }
    .pro_cont{
        flex-wrap: wrap;
        gap: 20px;
    }
    .con_cont{
        margin-left: 0;
        margin-top: 20px;
    }
    .lab{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 768px){
    .halfcolorpage{
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .menu-link{
        width: 100px;
        margin: 5px 0;
    }
    .header_panel{
        flex-direction: column;
        align-items: center;
    }
    .my_pic{
        height: 250px;
    }
    .the_con, .the_con_1, .the_con_2{
        font-size: 30px;
        text-align: center;
    }
    .cer{
        width: 180px;
        font-size: 24px;
        margin-left: 0;
        margin-top: 10px;
    }
    .edu_cont{
        padding: 10px 20px;
    }
    .edu_des, .edu_des_1{
        margin-left: 0;
        text-align: center;
        font-size: 14px;
    }
    .tot_sk_1, .tot_sk_2{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .pro_cont{
        flex-direction: column;
        align-items: center;
    }
    .lab{
        width: 95%;
        padding: 20px;
    }
    .con_cont{
        margin-top: 10px;
        margin-left: 0;
    }
}
html {
    scroll-behavior:scroll;
}
#id_education {
    scroll-margin-top: 80px;
}


#id_skills {
    scroll-margin-top: 80px; 
}


#id_projects {
    scroll-margin-top: 80px; 
}


#id_contact {
    scroll-margin-top: 80px;
}
